/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*
 * Chessground base css properties.
 *
 * You need to include the css files in themes folder in order to have the
 * board and pieces displayed!
 */

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevents scrolling on the whole page */
font-family: 'Outfit', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden;  */
}

.cg-wrap {
  /* make the width and height scale to zoom  */
  width: calc(var(--zoom) * 500px / 100);
  height: calc(var(--zoom) * 500px / 100);
  position: relative;
  display: block;
}

cg-resize {
  display: none;
  display: block;
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 22px;
  height: 22px;
  cursor: nwse-resize;
  z-index: 10;
}
cg-resize::before,
cg-resize::after {
  background: #000;
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  left: 0;
}
cg-resize::before {
  width: 5px;
  transform: translate(7px, 8px) rotate(-45deg);
}
cg-resize::after {
  transform: translate(1px, 6px) rotate(-45deg);
}
cg-resize:hover {
  border-radius: 50%;
}
.resizing cg-resize {
  border-radius: 50%;
}

svg {
  overflow: visible;
}

cg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  bottom: 0;
}

cg-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
  cursor: pointer;
  /* box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  border-radius: 0.375rem 0.375rem 0.375rem 0;
  /* border: 2px solid oklch(87.2% 0.01 258.338); */
}


cg-board square {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  pointer-events: none;
}
cg-board square.move-dest {
  background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
  pointer-events: auto;
}
cg-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cg-board square.oc.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
cg-board square.oc.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
cg-board square.move-dest:hover {
  background: rgba(20, 85, 30, 0.3);
}
cg-board square.premove-dest:hover {
  background: rgba(20, 30, 85, 0.2);
}
cg-board square.last-move {
  will-change: transform;
  background-color: rgba(155, 199, 0, 0.41);
}
cg-board square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
cg-board square.check {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 1) 0%,
    rgba(231, 0, 0, 1) 25%,
    rgba(169, 0, 0, 0) 89%,
    rgba(158, 0, 0, 0) 100%
  );
}
cg-board square.current-premove {
  background-color: rgba(20, 30, 85, 0.5);
}
.cg-wrap piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}
cg-board piece.dragging {
  cursor: move;
  z-index: 10;
}
cg-board piece.anim {
  z-index: 8;
}
cg-board piece.fading {
  z-index: 1;
  opacity: 0.5;
}
.cg-wrap square.move-dest:hover {
  background-color: rgba(20, 85, 30, 0.3);
}
.cg-wrap piece.ghost {
  opacity: 0.3;
}
.cg-wrap .cg-shapes,
.cg-wrap .cg-custom-svgs {
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.cg-wrap .cg-shapes {
  opacity: 0.6;
  z-index: 2;
}
.cg-wrap .cg-custom-svgs {
  /* over piece.anim = 8, but under piece.dragging = 10 */
  z-index: 9;
}
.cg-wrap coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-size: 9px;
}
.cg-wrap coords.ranks {
  visibility: hidden;
  right: -15px;
  top: 0;
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
}
.cg-wrap coords.ranks.black {
  flex-flow: column;
}
.cg-wrap coords.files {
  visibility: hidden;
  /* bottom: -11px; */
  left: 0;
  flex-flow: row;
  width: 100%;
  height: 16px;
  text-transform: uppercase;
  text-align: center;
}
.cg-wrap coords.files.black {
  flex-flow: row-reverse;
}
.cg-wrap coords coord {
  flex: 1 1 auto;
}
/* .cg-wrap coords.ranks coord {
  transform: translateY(39%);
} */

#flip {
  background-color: blue;
  max-height: 100px;
}

.selected {
  border: 1px solid black;
}


.line {
  display: block;
  padding-inline-start: 7px;
  position: relative;
}

.line > .branch {
  border-inline-start: 2px solid gray;
  margin-inline-start: -9px;
  position: absolute;
  width: 8px;
  height: 100%;
}

.line > .branch::before {
  margin-top: 0.8em;
  content: ' ';
  border-top: 2px solid gray;
  position: absolute;
  width: 7px;
  height: 6px;
}