@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Board
 */
.blue cg-board {
  background-image: url('../images/board/blue2.jpg');
}

.pawn.white {
  background-image: url('../images/pieces/merida/wP.svg');
}

.bishop.white {
  background-image: url('/images/pieces/merida/wB.svg');
}

.knight.white {
  background-image: url('../images/pieces/merida/wN.svg');
}

.rook.white {
  background-image: url('../images/pieces/merida/wR.svg');
}

.queen.white {
  background-image: url('../images/pieces/merida/wQ.svg');
}

.king.white {
  background-image: url('../images/pieces/merida/wK.svg');
}

.pawn.black {
  background-image: url('../images/pieces/merida/bP.svg');
}

.bishop.black {
  background-image: url('../images/pieces/merida/bB.svg');
}

.knight.black {
  background-image: url('../images/pieces/merida/bN.svg');
}

.rook.black {
  background-image: url('../images/pieces/merida/bR.svg');
}

.queen.black {
  background-image: url('../images/pieces/merida/bQ.svg');
}

.king.black {
  background-image: url('../images/pieces/merida/bK.svg');
}

.alpha cg-board piece.pawn.white {
  background-image: url('../images/pieces/alpha/wP.svg');
}

.alpha cg-board piece.bishop.white {
  background-image: url('../images/pieces/alpha/wB.svg');
}

.alpha cg-board piece.knight.white {
  background-image: url('../images/pieces/alpha/wN.svg');
}

.alpha cg-board piece.rook.white {
  background-image: url('../images/pieces/alpha/wR.svg');
}

.alpha cg-board piece.queen.white {
  background-image: url('../images/pieces/alpha/wQ.svg');
}

.alpha cg-board piece.king.white {
  background-image: url('../images/pieces/alpha/wK.svg');
}

.alpha cg-board piece.pawn.black {
  background-image: url('../images/pieces/alpha/bP.svg');
}

.alpha cg-board piece.bishop.black {
  background-image: url('../images/pieces/alpha/bB.svg');
}

.alpha cg-board piece.knight.black {
  background-image: url('../images/pieces/alpha/bN.svg');
}

.alpha cg-board piece.rook.black {
  background-image: url('../images/pieces/alpha/bR.svg');
}

.alpha cg-board piece.queen.black {
  background-image: url('../images/pieces/alpha/bQ.svg');
}

.alpha cg-board piece.king.black {
  background-image: url('../images/pieces/alpha/bK.svg');
}
